{% load latexify %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="{% static './style.css' %}" rel="stylesheet" />

    <title>Matemaatika õppimise lehekülg</title>
    {% block head %}
    {% endblock %}
</head>

<header class="header">
    <div class="dropdown">
        <button class="dropbtn">Menüü</button>
        <div class="dropdown-content">



            
            <!-- tuleb leida viis kuidas erinevad kategooriad valida saaks-->
            <a href="{% url 'index' %}">Avaleht</a>
            <a href="{% url 'riigieksam' %}">Riigieksam</a>


            <a href="#" class="option">________</a>
            <div class="options">
                {% for categorie in categories %}
                <a href="{% url 'flashcards' categorie %}">{{ categorie | safe }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="title">Matemaatika õppimise lehekülg</div>


</header>

<body>


    {% include "latexify/scripts.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">    </script>

    {% include "app/chat.html" %}

    {% block content %}
    {% endblock %}

</body>

</html>