{% load static %}
<div class="chat" style="position: absolute; right: 0; top: 0; width: 300px; height: 100%;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <!-- Add this script tag in the head or appropriate place in your HTML -->
    <style>
        ul li.ai {
            font-weight: bold;
        }

        ul li.user {
            color: rgb(5, 5, 4);
        }
    </style>


    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">&times;</button>
        <ul id="chatLog" class="w3-bar-item ">
            <li class="ai">Tere! Olen PIA. Aitan teid kui vaja :)</li>
        </ul>
        <p2 class="w3-bar-item "><input id="prompt" type="text"> <button id="sendPromptButton">Send</button></p2>
    </div>

    <div class="w3-teal">

        <button class="w3-button w3-teal w3-xlarge w3-right" style="position: absolute; bottom: 0; right: 0;" onclick="openRightMenu()"><img src="{% static 'PIA.png' %}"
                width="50" height="50"></button>
    </div>
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>




    <script>
        function openRightMenu() {
            document.getElementById("rightMenu").style.display = "block";
        }

        function closeRightMenu() {
            document.getElementById("rightMenu").style.display = "none";
        }


        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        $(document).ready(function () {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);

                    var entry = document.createElement("zero-md");


                    let mdText = encodeURIComponent(this.responseText);
                    entry.src = "data:text/markdown;charset=utf-8," + mdText;
                    document.getElementById("chatLog").appendChild(entry);

                }

            };
            xhttp.withCredentials = true;


            $("#sendPromptButton").on("click", function () {
                xhttp.open("POST", "{% url 'chatRobot' %}", true);
                xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                const prompt = document.getElementById("prompt").value;
                document.getElementById("chatLog").innerHTML += "<li class='user'>" + "User: " + prompt + "</li>";
                xhttp.send("prompt=" + prompt + "&lname=Ford");
                document.getElementById("prompt").value = "";
            });

            // on enter
            $("#prompt").keydown(function () {
                if (event.which == 13) {
                    $("#sendPromptButton").click();
                    console.log("enter");
                }
            });


        });



    </script>


</div>