{% load static %}
{% load latexify %}
{% csrf_token %}
<div class="chat" style="position: fixed; right: 0; top: 0; height: 100%;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">

    <style>
        ul li.ai {
            font-weight: bold;
        }

        ul li.user {
            color: rgb(5, 5, 4);
        }
        #chat-log {
            padding-top: 30px;
        }
    </style>


    <div class="side-sidebar side-bar-block side-card side-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" class="side-bar-item side-button side-large" style="position: fixed; z-index: 1000;">&times;</button>
        <ul id="chat-log" class="side-bar-item ">
            <li class="ai">Tere! Olen PIA. Aitan teid kui vaja :)</li>
        </ul>
        <p2 class="side-bar-item "><input id="prompt" type="text"> <button id="sendPromptButton">Saada</button></p2>
    </div>

    <div class="side-teal">

        <button class="side-button side-teal side-xlarge side-right" style="position: absolute; bottom: 0; right: 0;"
            onclick="openRightMenu()"><img src="{% static 'PIA.png' %}" width="50" height="50"></button>
    </div>
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
        integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
        integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
        integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
        crossorigin="anonymous"></script>

    <script>

        function openRightMenu() {
            document.getElementById("rightMenu").style.display = "block";
        }

        function closeRightMenu() {
            document.getElementById("rightMenu").style.display = "none";
        }


        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        $(document).ready(function () {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);

                    const entry = document.createElement("li");
                    const entry2 = document.createElement("zero-md");
                    entry.appendChild(entry2);
                    document.getElementById("chat-log").appendChild(entry);


                    let mdText = encodeURIComponent(this.responseText);
                    entry2.setAttribute("src", "data:text/markdown;charset=utf-8," + mdText);

                    // kui markdown on renderitud, siis renderib ka latexit
                    entry2.addEventListener('zero-md-rendered', function () {

                        // otsib kõikide elementide seest latexit ja renderdab selle
                        renderMathInElement(entry2.shadowRoot, {
                            delimiters: [
                                { left: '$$', right: '$$', display: true },
                                { left: '$', right: '$', display: false },
                                { left: '\\(', right: '\\)', display: false },
                                { left: '\\[', right: '\\]', display: true }
                            ],
                            throwOnError: false
                        });
                    });


                }

            };
            xhttp.withCredentials = true;


            $("#sendPromptButton").on("click", function () {
                xhttp.open("POST", "{% url 'chatRobot' %}", true);
                xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                const prompt = document.getElementById("prompt").value;
                const newMessage = document.createElement("li");

                newMessage.className = "user";
                newMessage.textContent = "Kasutaja: " + prompt;
                document.getElementById("chat-log").appendChild(newMessage);

                xhttp.send("prompt=" + prompt + "&lname=Ford");
                document.getElementById("prompt").value = "";
            });

            // kui kasutaja vajutab enterit, siis saadetakse prompt
            $("#prompt").keydown(function () {
                if (event.which == 13) {
                    $("#sendPromptButton").click();
                    console.log("enter");
                }
            });
        });

    </script>


</div>