{% extends 'app/base.html' %}
{% load latexify %}

{% block content %}
<style>
    .flashcard-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50svh;
    }

    .flashcard {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
        box-shadow: 1px, 1px, rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        height: 100%;
        aspect-ratio: 1;
    }

    .prev-card,
    .next-card {
        font-size: 30px;
        border-radius: 15px;
        background-color: #04AA6D;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

    }
</style>

<!-- Vajalikud, et Katex töötaks-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.11/contrib/auto-render.min.js"></script>


<div class="flashcard-container">
    <!-- Eelmine kaart-->
    <button class="prev-card" , onclick="prev()">
        ←prev
    </button>

    <!-- Flashcard -->
    <div class="flashcard" onclick="flipCard()">
        <!-- Küsimus -->
        <div id="flashcard-front">
            <h3 id="küsimus">
        </div>

        <div id="flashcard-back" style="display: none;">
            <h3 id="vastus">
        </div>

        

    </div>

    <!-- Järgmine kaart -->
    <button class="next-card" onclick="next()">
        next→
    </button>
    
</div>

<button onclick="showall()">Show all (debug)
</button>
<div id="all" style="display: none;"></div>

{% include "latexify/scripts.html" %}

<script>

    function showall(){
        if (all.style.display === "none") {
            all.style.display = "block";
        } else {
            all.style.display = "none";
        }

    }
    let flipped = false;
    var id = 0 // id mis hakkab muutuma kui flashcarde vahetatakse

    const values = {{ küsimused | safe }};

    all = document.getElementById("all");

    for (value in values) {

        let küsimus = document.createElement("div")
        let vastus = document.createElement("div")
        küsimus.innerHTML = values[value].description
        vastus.innerHTML = values[value].latex

        katex.render(values[value].latex, vastus, {
            throwOnError: false,
            output: "mathml"
        }
        );
        all.appendChild(küsimus)
        all.appendChild(vastus)

    }


    function flipCard() {
        flipped = !flipped;
        if (flipped) {
            document.getElementById("flashcard-front").style.display = "none";
            document.getElementById("flashcard-back").style.display = "block";
        }
        else {
            document.getElementById("flashcard-front").style.display = "block";
            document.getElementById("flashcard-back").style.display = "none";

        }
    }

    // Funktsioonid flashcardide vahel liikumiseks
    function next() { // Järgmine flashcard
        if (id < Object.keys(values).length - 1) { // Kontrollib kas id ei ole viimane, kui on siis id läheb tagasi nulli ja tekib uus ring peale
            id += 1
        } else {
            id = 0
        }
        displayCard()
    }

    function prev() {  // Eelmine flashcard
        if (id > 0) { // Kontrollib kas id ei ole esimene, kui on siis id läheb lõppu, et tuleks viimane flashcard
            id -= 1
        } else {
            id = Object.keys(values).length - 1
        }
        displayCard();
    }

    function displayCard() {

        flipped = true;
        flipCard();
        document.getElementById("küsimus").innerHTML = `${values[id].description}` // Muudab flashcardi teksti
        


        katex.render(values[id].latex, document.getElementById("vastus"), {
            throwOnError: false,
            output: "mathml"
        });
    }

    displayCard();


</script>


{% endblock %}