{% extends 'app/base.html' %}
{% load latexify %}
{% load static %}

{% block content %}
<style>
    .flashcard-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50svh;
    }

    .flashcard {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
        box-shadow: 1px, 1px, rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        height: 100%;
        aspect-ratio: 1;

    }

    .prev-card,
    .next-card {
        font-size: 30px;
        border-radius: 15px;
        background-color: #04AA6D;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;

    }
</style>

<div class="flashcard-container">

    <button class="prev-card" , onclick="prev()">
        ←prev
    </button>

    <div class="flashcard" onclick="flipCard()">
        <div id="flashcard-front">
            <h3 id="küsimus">
        </div>

        <div id="flashcard-back" style="display: none;">

        </div>

    </div>
    <button class="next-card" onclick="next()">
        next→
    </button>
</div>


{% include "latexify/scripts.html" %}

<script>
    let flipped = false;
    var id = 0// id mis hakkab muutuma kui flashcarde vahetatakse
    
    const values = {{ küsimused | safe }};

    function flipCard() {
        flipped = !flipped;
        if (flipped) {
            document.getElementById("flashcard-front").style.display = "none";
            document.getElementById("flashcard-back").style.display = "block";
        }
        else {
            document.getElementById("flashcard-front").style.display = "block";
            document.getElementById("flashcard-back").style.display = "none";

        }
    }

    // Funktsioonid flashcardide vahel liikumiseks
    function next() { // Muudab küsimuse ära
        if (id < Object.keys(values).length - 1) { // Kontrollib kas id ei ole viimane, kui on siis id läheb tagasi nulli ja tekib uus ring peale
            id += 1
        } else {
            id = 0
        }
        displayCard()
    }

    function prev() {       // Muudab küsimuse ära  
        if (id > 0) { // Kontrollib kas id ei ole esimene, kui on siis id läheb lõppu, et tuleks viimane flashcard
            id -= 1
        } else {
            id = Object.keys(values).length - 1
        }
        displayCard();
    }

    function displayCard() {

        flipped = true;
        flipCard();
        document.getElementById("küsimus").innerHTML = `${values[id].description}` // Muudab flashcardi teksti


        katex.render(values[id].latex, document.getElementById("flashcard-back"), {
            throwOnError: false
        });
    }

    displayCard();


</script>
</div>



{% endblock %}