{% extends 'app/base.html' %}
{% load latexify %}
{% load static %}
{% include "latexify/scripts.html" %}

{% block content %}

<div class="Eksami_leht">
    <h1 id="eksami-pealkiri">Riigieksam</h1>
    <p id="eksami-yl"></p>
    <img src="" alt="" id="eksami-figure">
    <div id="solution" style="display: none;">
        <div class="solution-text"></div>
        <img src="" alt="" id="eksami-solution" width="100%" height="100%">
    </div>
</div>

<div class="ETV">
    <button onclick="prev()" class="button"><span> Tagasi </span></button>
    <button onclick="toggleSolution()" class="button"><span> Lahenduskäik </span></button>
    <button onclick="next()" class="button"><span> Edasi </span></button>
</div>


<script>
    const exercises = {{ exercises | safe }};
    let id = 0;
    let showSolution = false;


    function displayExercise() {

        showSolution = true;
        toggleSolution();
        document.getElementById("eksami-pealkiri").innerText = `${exercises[id].name}` // Muudab flashcardi pealkirja

        document.getElementById("eksami-yl").innerHTML = exercises[id].text.replaceAll("NEWLINE","<div>");


        // Katex renderdamine
        renderMathInElement(document.getElementById("eksami-yl"), {
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
                { left: '\\(', right: '\\)', display: false },
                { left: '\\[', right: '\\]', display: true }
            ],

            throwOnError: false

        });
        if (exercises[id].figure != "") {
            document.getElementById("eksami-figure").src = `{% static 'images/' %}${exercises[id].figure}` // Muudab flashcardi teksti
        }
        else {
            document.getElementById("eksami-figure").src = "";
        }
        if (exercises[id].solutionImage != "") {
            document.getElementById("eksami-solution").src = `{% static 'images/' %}${exercises[id].solutionImage}` // Muudab flashcardi teksti
        }
    }

    function toggleSolution() {
        var x = document.getElementById("solution");
        if (showSolution) {

            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
        showSolution = !showSolution;
    }

    // järgmine ülesanne
    function next() {
        if (id < Object.keys(exercises).length - 1) {
            id += 1
        } else {
            id = 0
        }
        displayExercise()
    }
    // eelmine ülesanne
    function prev() {
        if (id > 0) {
            id -= 1
        } else {
            id = Object.keys(exercises).length - 1
        }
        displayExercise();
    }

    // kuvab esimese ülesande kui leht laetakse
    document.addEventListener("DOMContentLoaded", function () {
        displayExercise();
    });

</script>
{% endblock %}

{% block head %}
<style>
    .Eksami_leht {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-height: 50vh;
        background-color: rgb(235, 229, 229);
        padding: 2vh;
    }

    .ETV {
        display: flex;
        width: 55%;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
    }

    @media only screen and (max-width: 600px) {
        .Eksami_leht {

            width: 90%;
        }

        .ETV {
            width: 90%;
        }
    }
</style>
{% endblock %}