{% extends 'app/base.html' %}
{% load latexify %}
{% load static %}

{% block content %}
<div class="Eksami_leht">
    <h1 id="eksami-pealkiri">Riigieksam</h1>
    <p id="eksami-yl">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

    <div id="solution" style="display: none;">
        <div class="solution-text"></div>
        <img src="" alt="" class="eksami-img"  width="100%" height="100%">
    </div>
</div>

<div class="ETV">
    <button onclick="prev()" class="button"><span> Tagasi </span></button>
    <button onclick="toggleSolution()" class="button"><span> Lahenduskäik </span></button>
    <button onclick="next()" class="button"><span> Edasi </span></button>
</div>


<script>
    // [{text,solution,image}]
    const exercises = {{ exercises | safe }};
    let id = 0;
    let showSolution = false;


    function displayExercise() {

        showSolution = true;
        toggleSolution();
        document.getElementById("eksami-pealkiri").innerText = `${exercises[id].name}` // Muudab flashcardi pealkirja

        // find \n and replace with <br>${exercises[id].text}
        document.getElementById("eksami-yl").innerHTML = exercises[id].text.replaceAll('\\n', '<br>') // Muudab flashcardi teksti
        
        document.getElementsByClassName("solution-text")[0].innerText = `{% static 'images/' %}${exercises[id].solutionImage}` // Muudab flashcardi teksti
        document.getElementsByClassName("eksami-img")[0].src = `{% static 'images/' %}${exercises[id].solutionImage}` // Muudab flashcardi teksti

    }

    function toggleSolution() {
        var x = document.getElementById("solution");
        if (showSolution) {
            
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
        showSolution = !showSolution;
    }

    // Funktsioonid flashcardide vahel liikumiseks
    function next() { // Muudab küsimuse ära
        if (id < Object.keys(exercises).length - 1) { // Kontrollib kas id ei ole viimane, kui on siis id läheb tagasi nulli ja tekib uus ring peale
            id += 1
        } else {
            id = 0
        }
        displayExercise()
    }

    function prev() {       // Muudab küsimuse ära  
        if (id > 0) { // Kontrollib kas id ei ole esimene, kui on siis id läheb lõppu, et tuleks viimane flashcard
            id -= 1
        } else {
            id = Object.keys(exercises).length - 1
        }
        displayExercise();
    }



    displayExercise();

</script>
{% endblock %}

{% block head %}
<style>
    .Eksami_leht {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        min-height: 50vh;
        background-color: rgb(235, 229, 229);
        padding: 2vh;
    }

    .ETV {
        display: flex;
        width: 50%;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
    }

    button {
        padding: 15px 25px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;

    }

    .button:hover {
        background-color: #039861
    }

    .button:active {
        background-color: #039861;
        transform: translateY(2px);
    }

    @media only screen and (max-width: 600px) {
        .Eksami_leht {

            width: 90%;
        }

        .ETV {
            width: 90%;
        }
    }
</style>
{% endblock %}